280NPLIST;1.0;D;K;26;CPApplicationDelegateClassS;13;AppControllerK;12;CPBundleNameS;14;SampleControlsK;16;CPPrincipalClassS;13;CPApplicationK;14;CPDefaultThemeS;6;AristoK;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;30;com.yourcompany.SampleControlsK;15;CPBundleVersionS;3;1.0K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;17;SampleControls.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;K;17;CPApplicationSizeD;K;10;executabled;7;4479134K;4;datad;6;311649K;5;mhtmld;6;425206E;E;